@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Carlito', sans-serif !important;
}